{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>@nadotdev | Page</title>

    <link rel="icon" type="image/x-icon" href="{% static '/images/favicon.ico' %}">

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap styles -->
	<link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navbar -->
    <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="logo" href="/">@cloudna.xyz</a>         
            <ul class="nav">
                <li class="item">
                    <a class="link" href="#">Home</a>
                </li>
                <li class="item">
                    <a class="link" href="#about">About</a>
                </li>
                <!-- <li class="item">
                    <a class="link" href="#">Portfolio</a>
                </li> -->
                <li class="item">
                    <a class="link" href="#education">Education</a>
                </li>
                <li class="item">
                    <a class="link" href="/blogs">Blog</a>
                </li>
                <li class="item ml-md-3">
                    <a href="admin" class="btn btn-primary">Admin</a>
                </li>
            </ul>
            <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
            </a>
        </div>          
    </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">I am Sothatna</span>
            </h1>
            <p class="header-subtitle">IT & Developer</p>            

            <!-- <button class="btn btn-primary">Visit My Blogs</button> -->
        </div>              
    </header><!-- end of page header -->
