@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap')

// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 700

.kantumruy-pro-<*> {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}