{% load static %}
{% include 'shared/header.html' %}

    <!-- blog section -->
    <section class="section" id="blog">
        <!-- container -->
        <div class="container text-center">
            <p class="section-subtitle">Recent Posts</p>
            <h6 class="section-title mb-6">All Blog</h6>
            <!-- blog-wrapper -->

            {% for blog in blogs %} 
                <div class="blog-card">
                    <div class="blog-card-header">
                        <img src="{{ blog.thumbnail.url }}" class="blog-card-img" >
                    </div>
                    <div class="blog-card-body">
                        <h5 class="blog-card-title">{{ blog.title }}</h6>

                        <p class="blog-card-caption">
                            <!-- <a href="#">By: Admin</a>
                            <a href="#"><i class="ti-heart text-danger"></i> 234</a>
                            <a href="#"><i class="ti-comment"></i> 123</a> -->
                            <p>Posted on | {{ blog.posted_date }}</p>
                        </p>
                        <div
                            style="
                                width: 100%;
                                line-height: 1.2em;
                                height: 3.6em;
                                overflow: hidden;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                            "
                        >
                            {{ blog.description }}
                        </div>

                        <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                    </div>
                </div>
            {% endfor %}


            <!-- blog-wrapper -->
            <!-- <div class="blog-card">
                <div class="blog-card-header">
                    <img src="{% static 'assets/imgs/img-2.jpg' %}" class="blog-card-img" >
                </div>
                <div class="blog-card-body">
                    <h5 class="blog-card-title">Explicabo illo</h6>

                    <p class="blog-card-caption">
                        <a href="#">By: Admin</a>
                        <a href="#"><i class="ti-heart text-danger"></i> 456</a>
                        <a href="#"><i class="ti-comment"></i> 264</a>
                    </p>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit excepturi laborum enim, vitae ipsam atque eum, ad iusto consequuntur voluptas, esse doloribus. Perferendis porro quisquam vitae exercitationem aliquid, minus eos laborum repudiandae, cumque debitis iusto omnis praesentium? Laborum placeat sit adipisci illum tempore maxime, esse qui quae? Molestias excepturi corporis similique doloribus. Esse vitae earum architecto nulla non dolores illum at perspiciatis quod, et deleniti cupiditate reiciendis harum facere, delectus eum commodi soluta distinctio sit repudiandae possimus sunt. Ipsum, rem.</p>

                    <a href="#" class="blog-card-link">Read more <i class="ti-angle-double-right"></i></a>
                </div>
            </div> -->
            <!-- end of blog wrapper -->

        </div><!-- end of container -->
    </section>
    <!-- end of blog section -->


{% include 'shared/footer.html' %}
