{% load static %}
{% include 'shared/header.html' %}
<div class="container mt-5 mb-5">
    <p class="section-subtitle mb-3">Recent Posts</p>
    <!-- blog section -->
    <section class="section" id="blog">
        <div class="row mb-3">
            {% if blogs %}
                {% for blog in blogs %}
                <div class="col-md-6 mb-4">
                    <div class="blog-card">
                        <div class="blog-card-header">
                            <img src="{{ blog.thumbnail.url }}" width="100%" class="blog-card-img" style="object-fit: cover !important;">
                        </div>
                        <div class="blog-card-body">
                            <h5 class="blog-card-title mb-2 mt-2">{{ blog.title }}</h5>
                            <p class="blog-card-caption" style="font-size: 12px;">
                                Released: {{ blog.posted_date }}
                            </p>
                            <a href="detail/{{ blog.id }}" style="text-decoration: none;
                            font-size: 14px;" class="blog-card-link">Read more</a>
                        </div>
                    </div>
                 </div>
                {% endfor %}

            {% else %}
                <p>No blogs yet.</p>
            {% endif %}
        </div>
    </section>
    <!-- end of blog section -->
</div>


{% include 'shared/footer.html' %}
