<!-- Section: Timeline -->
    <ul class="timeline">
      {% if edu_timelines %}
        {% for edu in edu_timelines %}
          <li class="timeline-item mb-5">
            <h5 class="fw-bold" style="color: #656d76;">{{ edu.title }}</h5>
            <p style="color: #656d76;">
              {{ edu.started_date|date:'Y-m-d' }} - {{ edu.ended_date|date:'Y-m-d' }}
            </p>
            <div class="text-muted">
              {{ edu.content|safe }}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <p style="color: #656d76; font-size: 14px;">No education yet.</p>
      {% endif %}

    </ul>
<!-- Section: Timeline -->