{% load static %}
{% include 'shared/header.html' %}
    <!-- about section -->
    <section class="section pt-0" id="about">
        <!-- container -->
        <div class="container text-center">
            <!-- about wrapper -->
            <div class="about">
                <!-- <div class="about-img-holder">
                    <img src="{% static 'images/info.png' %}" width="280px" class="about-img">
                </div> -->
                <div class="about-caption">
                    <p class="section-subtitle">Who Am I ?</p>
                    <h2 class="section-title mb-3">About Me</h2>
                    <p>
                        Sothatna Tha, a recent graduate from Setec Institute in 2024, is a skilled IT professional with a strong foundation in Django Python, GitLab/Git, Linux, and AWS.
                    </p>
                    <button class="btn-rounded btn btn-outline-primary mt-4">💬📍</button>
                </div>              
            </div><!-- end of about wrapper -->
        </div><!-- end of container -->
    </section> <!-- end of about section -->

    <!-- service section -->
    <section class="section" id="tech">
        <div class="container text-center">
            <p class="section-subtitle">What do i use as a developer?</p>
            <h6 class="section-title mb-6">Technologies</h6>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/python.png' %}"  class="icon">
                            <h6 class="title">Python</h6>
                            <p class="subtitle">
                                Python is a high-level, general-purpose programming language.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/django.png' %}"  class="icon">
                            <h6 class="title">Django</h6>
                            <p class="subtitle">Django is a free and open-source, Python-based web framework that runs on a web server. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/git.png' %}"  class="icon">
                            <h6 class="title">Git</h6>
                            <p class="subtitle">Source code management known as version control.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/gitlab.png' %}"  class="icon">
                            <h6 class="title">Gitlab</h6>
                            <p class="subtitle">DevOps software package that can develop, secure, and operate software.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/linux.png' %}"  class="icon">
                            <h6 class="title">Linux Ubuntu Server</h6>
                            <p class="subtitle">
                                I've uses linux as a web server for deploy docker container on it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/docker.png' %}"  class="icon">
                            <h6 class="title">Docker</h6>
                            <p class="subtitle">OS-level virtualization to deliver software in packages called containers. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/gcp.png' %}"  class="icon">
                            <h6 class="title">GCP Cloud</h6>
                            <p class="subtitle">Cloud platforms.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="service-card">
                        <div class="body">
                            <img src="{% static 'images/aws.png' %}"  class="icon">
                            <h6 class="title">AWS</h6>
                            <p class="subtitle">Cloud platforms.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of row -->
        </div>
    </section>
    <!-- end of service section -->

    <section class="section" id="education">
        <div class="container text-center">
            <p class="section-subtitle">Which school i've attended?</p>
            <h6 class="section-title mb-6">Education</h6>
            <div class="row">
                <div class="col-md-6">
                    <a href="#" class="portfolio-card">
                        <img src="{% static 'images/edu1.png' %}" class="portfolio-card-img" >    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>SETEC Institute</h5>
                                <p class="font-weight-normal">MIS (2020-24) </p>
                            </span>                         
                        </span>                     
                    </a>
                </div>

                <div class="col-md-6">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{% static 'images/udemy.png' %}" class="img-responsive rounded" >
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Udemy E-learning Platforms</h5>
                                <p class="font-weight-normal">Django Restframework, Web Development</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{% static 'images/aii.png' %}" class="img-responsive rounded" >
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Aii language center</h5>
                                <p class="font-weight-normal">GEP Level 6 (2020)</p>
                            </span>                         
                        </span>                         
                    </a>
                </div>
                <!-- <div class="col-md-4">
                    <a href="#" class="portfolio-card">
                        <img class="portfolio-card-img" src="{% static 'images/online-training.jpeg' %}" class="img-responsive rounded" >    
                        <span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>Self-Study</h5>
                                <p class="font-weight-normal">Online platfom such as Udemy.com</p>
                            </span>                         
                        </span>                     
                    </a>
                </div> -->
            </div>
        </div>
    </section>

    <!-- <section class="section" id="pricing">
        <div class="container text-center">
            <p class="section-subtitle">How Much I Charge ?</p>
            <h6 class="section-title mb-6">My Pricing</h6>
            <div class="pricing-wrapper">
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="{% static 'assets/imgs/scooter.svg' %}" >
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Free</h6>
                        <div class="pricing-card-list">
                            <p>accusamus reprehenderit</p>
                            <p>provident dolorem </p>
                            <p>quos neque</p>
                            <p>fugiat quibusdam</p>
                            <p><i class="ti-close"></i></p>
                            <p><i class="ti-close"></i></p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>$</span>
                        <span>0.00/Month</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="{% static 'assets/imgs/shipped.svg' %}" >
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Basic</h6>
                        <div class="pricing-card-list">
                            <p>accusamus reprehenderit</p>
                            <p>provident dolorem </p>
                            <p>quos neque</p>
                            <p>fugiat quibusdam</p>
                            <p>accusamus laboriosam</p>
                            <p><i class="ti-close"></i></p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>$</span>
                        <span>9.99/Month</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
                </div>
                <div class="pricing-card">
                    <div class="pricing-card-header">
                        <img class="pricing-card-icon" src="{% static 'assets/imgs/startup.svg' %}" >
                    </div>
                    <div class="pricing-card-body">
                        <h6 class="pricing-card-title">Premium</h6>
                        <div class="pricing-card-list">
                            <p>accusamus reprehenderit</p>
                            <p>provident dolorem </p>
                            <p>quos neque</p>
                            <p>fugiat quibusdam</p>
                            <p>accusamus laboriosam</p>
                            <p>inventore omnis</p>
                        </div>
                    </div>
                    <div class="pricing-card-footer">
                        <span>$</span>
                        <span>99.9/Month</span>
                    </div>
                    <a href="#" class="btn btn-primary mt-3 pricing-card-btn">Subscribe</a>
                </div>

            </div>
        </div>
    </section> -->

    <!-- section -->
    <section class="section-sm bg-primary">
        <!-- container -->
        <div class="container text-center text-sm-left">
            <!-- row -->
            <div class="row align-items-center">
                <div class="col-sm offset-md-1 mb-4 mb-md-0">
                    <h6 class="title text-light">Want to work with me?</h6>
                    <p class="m-0 text-light">Always feel Free to Contact & Hire me</p>
                </div>
                <div class="col-sm offset-sm-2 offset-md-3">
                    <button class="btn btn-lg my-font btn-light rounded">👨🏻‍💻👨🏻‍💻👨🏻‍💻</button>
                </div>
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </section> <!-- end of section -->

    <!-- testimonial section -->
    <!-- <section class="section" id="testmonial">
        <div class="container text-center">
            <p class="section-subtitle">What Think Client About Me ?</p>
            <h6 class="section-title mb-6">Testmonial</h6>

            <div class="row">
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="{% static 'assets/imgs/avatar2.jpg' %}" class="testimonial-card-img" >                           
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis adipisci nihil.</p>
                            <h6 class="testimonial-card-title">Emily Reb</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="testimonial-card">
                        <div class="testimonial-card-img-holder">
                            <img src="{% static 'assets/imgs/avatar3.jpg' %}" class="testimonial-card-img" >                        
                        </div>
                        <div class="testimonial-card-body">
                            <p class="testimonial-card-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloribus autem aperiam earum nostrum omnis blanditiis corporis perspiciatis adipisci nihil.</p>
                            <h6 class="testimonial-card-title">Emily Reb</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </section>  -->
    <!-- end of testimonial section -->
    
    
    <section class="section" id="working-timelines">
        <div class="container">
            <div class="text-center">
                <!-- <p class="section-subtitle">What Think Client About Me ?</p> -->
                <h6 class="section-title mb-6">Working Timelines 👇🏻</h6>
            </div>
            {% include 'portfolio/timeline.html' %}
        </div>
    </section>



    <!-- contact section -->
    <section class="section" id="contact">
        <div class="container text-center">
            <p class="section-subtitle">How can you communicate?</p>
            <h6 class="section-title mb-5">Contact Me</h6>

            <!-- contact form -->
            <form action="" method="post" class="contact-form col-md-10 col-lg-8 m-auto">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type="text" name="message_subject" size="50" class="form-control" placeholder="Subject 📬" required>                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" name="email" class="form-control" placeholder="Email 📨" requried>                 
                    </div>
                    <div class="form-group col-sm-12">
                        <textarea name="comment" id="comment" name="comment" rows="6" class="form-control" placeholder="Say something to me 💬"></textarea>
                    </div>
                    <div class="form-group col-sm-12">
                        <p>This will send your input message to my telegram 🥳 💬</p>
                    </div>
                    <div class="form-group col-sm-12 mt-3">
                        <input type="submit" value="Send Message" class="btn btn-outline-primary rounded">                  
                    </div>
                </div>  
            </form><!-- end of contact form -->
        </div><!-- end of container -->
    </section>
    <!-- end of contact section -->
{% include 'shared/footer.html' %}
