<!-- Section: Timeline -->
    <ul class="timeline">
      {% for timeline in working_timelines_objects%}
        <li class="timeline-item mb-5">
          <h5 class="fw-bold">{{ timeline.title }}</h5>
          <p class="text-muted mb-2 fw-bold">
            <b>Joined: </b>{{ timeline.started_date|date:'Y-m-d' }} |  <b>Ended: </b>{{ timeline.started_date|date:'Y-m-d' }}
          </p>
          <p class="text-muted">
            {{ timeline.content|safe }}
          </p>
        </li>
      {% endfor %}
    </ul>
  <!-- Section: Timeline -->