<!-- Section: Timeline -->
    <ul class="timeline">
      {% if working_timelines %}
        {% for timeline in working_timelines %}
          <li class="timeline-item mb-5">
            <h5 class="" style="color: #0969da; font-weight: 700;">{{ timeline.title }}</h5>
            <p style="color: #656d76; font-size: 14px;">
              From: {{ timeline.started_date|date:'Y' }} - {{ timeline.ended_date|date:'Y' }}
            </p>
            <div class="mt-2">
              {{ timeline.content|safe }}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <p style="color: #656d76; font-size: 14px;">No working background yet.</p>
      {% endif %}
    </ul>
<!-- Section: Timeline -->