<!-- Section: Timeline -->
    <ul class="timeline">
      {% if working_timelines %}
        {% for timeline in working_timelines %}
          <li class="timeline-item mb-5">
            <h5 class="fw-bold" style="color: #656d76;">{{ timeline.title }}</h5>
            <p style="color: #656d76;">
              {{ timeline.started_date|date:'Y-m-d' }} - {{ timeline.ended_date|date:'Y-m-d' }}
            </p>
            <div class="text-muted">
              {{ timeline.content|safe }}
            </div>
          </li>
        {% endfor %}
      {% else %}
        <p style="color: #656d76;">No working background. 🤭</p>
      {% endif %}
    </ul>
<!-- Section: Timeline -->